.noteStatRow {
  margin-left: 10px;
  margin-right: 10px;
}

.noteEmpty {
  color: #E6ECF0;
  height: 200px;
  margin-top: 100px;
}

.noteEmptyIcon {
  text-align: center;
}

.noteDtlInputIntRow  {
  > div {
    display: inline-block;
  }
  > span {
    padding-left: 10px;
    vertical-align: bottom;
  }
}

.noteDtlInputDecRow {
  > div {
    display: inline-block;
  }
  > span {
    padding-left: 10px;
    vertical-align: bottom;
  }
}

.noteDtlTextAreaRow {
  textarea {
    width: 100%;
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #C2D8E9;
  }
}